/* General Colors */

$white: #ffffff;
$light-white: #F1F6FA;
$white-to-blue: #e1ecf0;


$black: #000000;

$grey: #819FB2;
$dark-grey: #6D858F;
$light-grey: #B4CFE0;

$default-text-color: #4A4A4A;
$sub-text-color: #6D858F;
$info-color: #92B6CD;

$light-blue: #039ddc;
$dark-blue: #0171A1;
$dark-blue-active: #015d85;
$hover-blue: #0084BD;

/* Divider */
$divider-bg: #EBF2F5;

$light-border: #E1ECF0;

$green: #16B442;
$red: #ff5252;
$dark-red: #F93131;
$yellow: #F5A227;

/* Caret Color */
$caret-light: #F0FBFF;

/* Table */
$table-hover-background: #f7f7f7;
$table-header-text-color: #819FB2;
$table-header-background: #F5F9FC;
$table-border: #d2e3ed;

/* Custom Colors */
$custom-background: #0171a100;
$custom-border: #B3CFE0;

$custom-shipment-border: #E2EDF3;
$custom-dark-blue: #002F44;
$custom-white: #FFEBEB;
$custom-white-2: #EBFAEF;
