@import '../../colors.scss';

.manage-payment-methods-wrapper {
    font-family: 'Inter-Regular', sans-serif;

    .v-data-table {
        &.methods-table {
            border-radius: 0;
            box-shadow: none !important;

            .tab-name {
                .tab-method {
                    padding: 20px 24px;
                    color: $default-text-color;
                    display: flex;
                    align-items: center;
                }
            }

            .v-data-table__wrapper {
                padding: 0 24px;

                table {
                    border-bottom: none !important;
                    border-top: none !important;
                    box-shadow: none !important;

                    thead {
                        tr {
                            th {
                                padding: 11px 20px !important;
                                color: $grey !important;
                                text-transform: uppercase;
                                font-size: 12px;
                                border: 2px solid $table-border !important;
                                border-left: none !important;
                                border-right: none !important;
                            }
                        }
                    }

                    tbody {
                        tr {
                            td {
                                padding: 22px 20px !important;
                                color: $default-text-color;
                                border-bottom: 1px solid $table-border !important;

                                small {
                                    color: $dark-grey !important;
                                    font-size: 14px;
                                }

                                .manage-action-buttons {
                                    display: flex;
                                    justify-content: flex-end;
                                    align-items: center;

                                    .icons {
                                        padding: 10px 12px !important;
                                        min-width: 30px !important;
                                        margin-left: 8px;
                                    }                                   
                                }

                                .card-number-wrapper {
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: flex-start;

                                    img {
                                        margin-right: 8px;
                                    }

                                    .name {
                                        color: $dark-grey;
                                    }
                                }
                            }

                            &:last-child {
                                td {
                                    border-bottom: none !important;
                                }                               
                            }

                            &:hover {
                                background-color: $table-hover-background !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 766px) {
    .manage-payment-methods-wrapper {
        font-family: 'Inter-Regular', sans-serif;
    
        .v-data-table {
            &.methods-table {    
                .tab-name {
                    border-bottom: 2px solid $divider-bg;
                    
                    .tab-method {
                        padding: 24px 16px 16px;
                    }
                }
    
                .v-data-table__wrapper {
                    padding: 0;
    
                    table {    
                        thead {
                            display: none;
                        }
    
                        tbody {
                            tr {
                                td {
                                    border-bottom: none !important;
                                    padding-bottom: 0px !important;
                                    padding-top: 16px !important;

                                    .v-data-table__mobile-row__header {
                                        display: none;
                                    }

                                    .v-data-table__mobile-row__cell {
                                        text-align: left;
                                        width: 100%;                                        

                                        span {
                                            color: $dark-grey;
                                        }

                                        .card-number-wrapper {
                                            justify-content: space-between;

                                            .card-number-content {
                                                display: flex;
                                                justify-content: flex-start;
                                                align-items: center;
                                                width: 95%;

                                                .card-type {
                                                    width: 22%;
                                                }

                                                .card {
                                                    font-size: 14px;
                                                    font-family: 'Inter-SemiBold', sans-serif;
                                                }
                                            }
                                        }

                                        .date-wrapper-mobile {
                                            width: 100%;
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;
                                            padding-left: 19%;

                                            .content-wrapper {
                                                width: 43%;

                                                span {
                                                    font-size: 12px;
                                                }

                                                p {
                                                    font-size: 14px;
                                                    margin-bottom: 0;
                                                }
                                            }
                                        }

                                        .manage-action-buttons {
                                            padding-left: 19%;
                                            justify-content: flex-start;

                                            button {
                                                margin-right: 8px;
                                                margin-left: 0;
                                            }
                                        }
                                    }    
                                    
                                    &:nth-child(1n+4) {
                                        display: none;
                                    }

                                    &:nth-child(3) {
                                        border-bottom: 1px solid $table-border !important;
                                        padding-bottom: 18px !important;
                                    }
                                }                               
                            }
                        }
                    }
                }
            }
        }
    }
}