@import '../../colors.scss';

.users-wrapper {
    font-family: 'Inter-Regular', sans-serif;

    .v-data-table {
        &.methods-table {
            border-radius: 0;
            box-shadow: none !important;

            .tab-name {
                .tab-method {
                    padding: 20px 24px;
                    color: $default-text-color;
                    display: flex;
                    align-items: center;
                }
            }

            .v-data-table__wrapper {
                padding: 0 24px;

                table {
                    border-bottom: none !important;
                    border-top: none !important;
                    box-shadow: none !important;

                    thead {
                        tr {
                            th {
                                padding: 11px 20px !important;
                                color: $grey !important;
                                text-transform: uppercase;
                                font-size: 12px;
                                border: 2px solid $table-border !important;
                                border-left: none !important;
                                border-right: none !important;
                            }
                        }
                    }

                    tbody {
                        tr {
                            td {
                                padding: 11px 20px !important;
                                color: $default-text-color;
                                border-bottom: 1px solid $table-border !important;

                                small {
                                    color: $dark-grey !important;
                                    font-size: 14px;
                                }

                                .user-name {
                                    span {
                                        color: $dark-blue !important;
                                    }
                                }

                                .user-action-buttons {
                                    display: flex;
                                    justify-content: flex-end;
                                    align-items: center;

                                    .icons {
                                        padding: 10px 12px !important;
                                        min-width: 30px !important;
                                        margin-left: 8px;
                                    }                                   
                                }
                            }

                            &:last-child {
                                td {
                                    border-bottom: none !important;
                                }                               
                            }

                            &:hover {
                                background-color: $table-hover-background !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .users-wrapper {
        .v-data-table {
            &.methods-table {    
                .tab-name {
                    border-bottom: 2px solid $divider-bg;

                    .tab-method {
                        padding: 24px 16px 16px;

                        .search-users {
                            border: 1px solid $light-grey;
                            border-radius: 4px;
                            padding: 5px;
                            height: 40px;
                            width: 42px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: $white;
                        }                       

                        .search {
                            opacity: 0;
                            transition: all 0.3s ease;
                            position: absolute;
                            z-index: -1;

                            &.expanded {
                                background-color: $white;
                                left: 16px;
                                right: 16px;
                                opacity: 1;
                                z-index: 1;

                                input {
                                    height: 45px;
                                    width: 75%;
                                    font-size: 14px;
                                    padding-left: 35px;
                                    padding-right: 60px;
                                    border: 1px solid $light-grey;
                                    border-radius: 4px;

                                    &::placeholder {
                                        color: $light-grey !important;
                                    }
                                }
                            }

                            .input-search-icon {
                                &.expanded {
                                    position: absolute;
                                    left: 10px;
                                    top: 16px;
                                }
                            }
                        }

                        .close-btn {
                            position: absolute;
                            z-index: 100;
                            margin-right: 0;
                            right: 16px;
                            background-color: $white;
                            height: 45px;
                            width: 20%;
                            font-size: 14px;
                            color: $dark-blue;
                            border-radius: 4px;
                            border: 1px solid $light-grey;
                        }
                    }
                }

                .v-data-table__wrapper {
                    padding: 0;
                    max-height: calc(100vh - 265px);
                    overflow-y: auto;
                    overflow-x: hidden;
    
                    table {
                        thead {
                            display: none;
                        }
    
                        tbody {
                            tr {
                                td {
                                    border-bottom: none !important;
                                    padding-bottom: 0px !important;
                                    padding-top: 16px !important;

                                    .v-data-table__mobile-row__header {
                                        display: none;
                                    }

                                    .v-data-table__mobile-row__cell {
                                        text-align: left;
                                        width: 100%;
                                        
                                        span {
                                            color: $dark-grey;
                                        }

                                        p {
                                            margin-bottom: 0;
                                        }

                                        .user-name {
                                            p {
                                                font-size: 16px;
                                                font-family: 'Inter-SemiBold', sans-serif;
                                            }
                                        }

                                        .email-wrapper-mobile {
                                            width: 100%;
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;

                                            .content-wrapper {
                                                width: 48%;
                                            }
                                        }

                                        .user-action-buttons {
                                            justify-content: flex-start;

                                            button {
                                                margin: 0;
                                            }
                                        }
                                    }

                                    &:nth-child(1n+4) {
                                        display: none;
                                    }

                                    &:nth-child(3) {
                                        border-bottom: 1px solid $table-border !important;
                                        padding-bottom: 18px !important;
                                    }
                                }
                            }
                        }
                    }

                    /* Scrollbar */
                    &::-webkit-scrollbar {
                        width: 10px;
                    }
                      
                    /* Track */
                    &::-webkit-scrollbar-track {
                        background: #f1f1f1; 
                    }
                       
                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: #d3d3d3; 
                    }
                      
                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                        background: #d3d3d3; 
                    }
                }
            }
        }
    }
}

