@import '../../colors.scss';

.add-supplier-dialog {
    .add-supplier-card {
        .v-card__text {
            padding: 24px;
            min-height: 430px;

            .v-input {
                .v-input__control {
                    .v-text-field__details {
                        display: block !important;
                    }
                }
            }

            .vue-tel-input-vuetify {
                position: relative;
                margin-bottom: 8px;

                .country-code {
                    .v-input {
                        .v-input__control {
                            .v-input__slot {
                                margin-bottom: 0;

                                fieldset {
                                    border-right: none;
                                    border-top-right-radius: 0;
                                    border-bottom-right-radius: 0;
                                    border-top-left-radius: 4px !important;
                                    border-bottom-left-radius: 4px;
                                }
                            }

                            .v-text-field__details {
                                display: none;
                            }
                        }
                    }
                }

                .v-input {
                    .v-input__control {
                        .v-input__slot {
                            height: 44px;
                            margin-bottom: 0;

                            .v-label {
                                top: 12px;
                                font-size: 14px;
                                color: $light-grey;
                            }

                            fieldset {
                                border: 1px solid $light-grey;
                                background-color: $white !important;
                                border-top-left-radius: 0 !important;
                                border-bottom-left-radius: 0;
                                font-size: 14px;
                            }

                            .v-text-field__slot {
                                input {
                                    font-size: 14px;
                                }
                            }
                        }

                        .v-text-field__details {
                            position: absolute;
                            bottom: -26px;
                        }
                    }
                }
            }

            .tags-email-wrapper {
                
                .vue-tags-input {
                    max-width: 100% !important;
                    width: 100%;

                    .ti-input {
                        border: 1px solid $light-grey !important;
                        border-radius: 4px;
                        min-height: 45px;
                        font-size: 14px;

                        &::placeholder {
                            color: $light-grey !important;
                        }

                        .ti-tags {
                            .ti-tag {
                                border-radius: 4px !important;
                                font-family: 'Inter-Medium', sans-serif;
                                padding: 3px 10px !important;
                                line-height: 1;
                                height: 30px;
                                background-color: $table-hover-background !important;
                                border: 1px solid $light-border;
                                color: $dark-grey !important;
                                // margin: 6px 2px 2px 2px;
                                min-width: 75px;
                                justify-content: space-between;
                                align-items: center;
                                font-size: 12px;
                            }                      
                        
                            .ti-new-tag-input-wrapper {
                                margin: 0;
                                padding: 0 5px;

                                input {
                                    font-size: 14px !important;

                                    &.ti-new-tag-input {
                                        flex: 1 1 auto;
                                        line-height: 20px;
                                        padding: 8px 0 8px;
                                        max-width: 100%;
                                        min-width: 0px;
                                        width: 100%;

                                        &::placeholder {
                                            color: $light-grey !important;
                                        }
                                    }
                                }
                            }
                        }                        
                
                        &.ti-new-tag-input-error {
                            border: 1px solid $red !important;
                        }

                        .t-new-tag-input-text-error {
                            color: $red !important;
                        }
                    }
                }
            }
        }
    }
}